<div class="container">
  <form action="action_page.php" methode="post">
    <div class="row">
      <div class="col-25">
        <label for="username">Username</label>
      </div>
      <div class="col-75">
        <input type="text" id="username" name="username" placeholder="Masukan username..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="fullname">Nama Lengkap</label>
      </div>
      <div class="col-75">
        <input type="text" id="fullname" name="fullname" placeholder="Masukan nama lengkap..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="npHp">Nomor Handphone</label>
      </div>
      <div class="col-75">
        <input type="text" id="noHp" name="nomorhandphone" placeholder="Masukan nomor handphone/whatsapp..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="password">Password</label>
      </div>
      <div class="col-75">
        <input type="password" id="password" name="password" placeholder="Masukan password..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="hakAkses">Hak Akses</label>
      </div>
      <div class="col-75">
        <input type="text" id="hakAkses" name="hakakses" placeholder="Hak akses pengguna..">
      </div>
    </div><br>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
