<div class="container">
  <form action="action_page.php">
    <h4>Khusus Siswa Pindahan:</h4><br>
    <div class="row">
      <div class="col-25">
        <label for="asalPendidikan">Asal Pendidikan Anak</label>
      </div>
      <div class="col-75">
        <input type="text" id="asalPendidikan" name="asalPendidikan" placeholder="Masukan asal pendidikan anak..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="namaTk">Nama TK</label>
      </div>
      <div class="col-75">
        <input type="text" id="namaTk" name="namaTk" placeholder="Masukan nama TK..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="alamatTk">Alamat TK</label>
      </div>
      <div class="col-75">
        <input type="text" id="alamatTk" name="alamatTk" placeholder="Masukan alamat TK..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="noSttb">Tahun dan Nomor STTB</label>
      </div>
      <div class="col-75">
        <input type="text" id="noSttb" name="tahunNoSttb" placeholder="Masukan tahun dan nomor STTB..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lamaBelajar">Lama Belajar</label>
      </div>
      <div class="col-75">
        <input type="text" id="lamaBelajar" name="lamaBelajar" placeholder="Masukan lama belajar di TK..">
      </div>
    </div><br>
    <h4>Pindah dari:</h4><br>
    <div class="row">
      <div class="col-25">
        <label for="sekolahAsal">Nama Sekolah Asal<label>
      </div>
      <div class="col-75">
        <input type="text" id="sekolahAsal" name="sekolahAsal" placeholder="Masukan nama sekolah asal...">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="alamatSekolahAsal">Alamat Sekolah</label>
      </div>
      <div class="col-75">
        <input type="text" id="alamatSekolahAsal" name="alamatSekolahAsal" placeholder="Masukan alamat sekolah asal..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="tglPindah">Tanggal</label>
      </div>
      <div class="col-75">
        <input type="date" id="tglPindah" name="tanggalPindah">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="dariTingkat">Dari Tingkat<label>
      </div>
      <div class="col-75">
        <input type="text" id="dariTingkat" name="dariTingkat" placeholder="Dari tingkat berapa siswa pindah..">
      </div>
    </div><br>
    <h4>Diterima di sekolah ini:</h4><br>
    <div class="row">
      <div class="col-25">
        <label for="tanggalDiterima">Tanggal<label>
      </div>
      <div class="col-75">
        <input type="date" id="tanggalDiterima" name="tanggalDiterima">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="diTingkat">Di tingkat<label>
      </div>
      <div class="col-75">
        <input type="text" id="diTingkat" name="diterimaDiTingkat" placeholder="Ditingkat mana siswa diterima..">
      </div>
    </div><br>
    <div class="row">
      <input class="formButton" type="submit" value="Submit">
    </div>
  </form>
</div>
