<form action="#" class="form"> 
      <label id="title-orangtua">20. Nama Lengkap</label>
      <fieldset>
        <div class="input-box">
          <label>a. Ayah Kandung</label>
          <input type="text" placeholder="Masukan nama lengkap" required />
        </div>
        <div class="input-box">
          <label>b. Ibu Kandung</label>
          <input type="text" placeholder="Masukan nama lengkap" required />
        </div>  
      </fieldset>
      <label id="title-orangtua">21. Pendidikan Tertinggi</h3>
      <fieldset>
        <div class="input-box">
          <label>a. Ayah</label>
          <input type="text" placeholder="Masukan nama lengkap" required />
        </div>
        <div class="input-box">
          <label>b. Ibu</label>
          <input type="text" placeholder="Masukan nama lengkap" required />
        </div>
      </fieldset>
      <label id="title-orangtua">22. Pekerjaan</h3>
      <fieldset>
        <div class="input-box">
          <label>a. Ayah</label>
          <input type="text" placeholder="Masukan nama lengkap" required />
        </div>
        <div class="input-box">
          <label>b. Ibu</label>
          <input type="text" placeholder="Masukan nama lengkap" required />
        </div>
      </fieldset>
      <button>Simpan</button>
    </form>
