<form action="#" class="form">
      <div class="gender-box">
        <label>Masuk sekolah ini sebagai?</label>
        <div class="gender-option">
          <div class="gender">
            <input type="radio" id="check-male" name="gender" checked />
            <label for="check-male">Murid Baru TK</label>
          </div>
          <div class="gender">
            <input type="radio" id="check-female" name="gender" />
              <label for="check-female">Pindahan</label>
          </div>
        </div>
        <p id="ket-pindahan">(Jika pindahan maka meneruskan mengisi No.27)</p>
      </div>
      <label id="title-pindahan">27. Khusus Siswa Pindahan</h3>
      <fieldset>
        <div class="input-box"> 
          <label>a. Asal Pendidikan Anak</label>
          <input type="text" placeholder="Masukan nama lengkap" required />
        </div> 
        <div class="input-box">
          <label>b. Nama TK</label>
          <input type="text" placeholder="Masukan pendidikan terakhir ayah" required />
        </div>
        <div class="input-box">
          <label>c. Alamat</label>
          <input type="text" placeholder="Masukan pendidikan terakhir ibu" required />
        </div>
        <div class="input-box">
          <label>d. Tahun dan Nomor STTB</label>
          <input type="text" placeholder="Masukan pekerjaan ayah" required />
        </div>
        <div class="input-box">
          <label>e. Lama Belajar</label>
          <input type="text" placeholder="Masukan pekerjaan ibu" required />
        </div>
        <div class="input-box">
          <label>Wali (Jika ada)</label>
          <input type="text" placeholder="Masukan nama wali" required />
        </div>
      </fieldset>
      <label id="title-pindahan">28. Pindah Dari</h3>
      <fieldset>
        <div class="input-box"> 
          <label>a. Nama Sekolah Asal</label>
          <input type="text" placeholder="Masukan nama lengkap" required />
        </div> 
        <div class="input-box">
          <label>b. Alamat Sekolah</label>
          <input type="text" placeholder="Masukan pendidikan terakhir ayah" required />
        </div>
        <div class="input-box">
          <label>c. Tanggal</label>
          <input type="text" placeholder="Masukan pendidikan terakhir ibu" required />
        </div>
        <div class="input-box">
          <label>d. Dari Tingkat</label>
          <input type="text" placeholder="Masukan pekerjaan ayah" required />
        </div> 
      </fieldset> 
      <button>Simpan</button>
    </form>
