<form action="#">
            <div class="user-details">
              <div class="input-box">
                <span class="details">Nama Peserta Didik</span>
                <input type="text" placeholder="Masukan nama lengkap:" required>
              </div>
              <div class="input-box">
                <span class="details">Username</span>
                <input type="text" placeholder="Contoh: Daud123" required>
              </div>
              <div class="input-box">
                <span class="details">Nomor HP</span>
                <input type="text" placeholder="Masukan nomor hp" required>
              </div>
              <div class="input-box">
                <span class="details">Password</span>
                <input type="text" placeholder="Masukan password" required>
              </div>
              <div class="input-box">
                <span class="details">Konfirmasi Password</span>
                <input type="text" placeholder="Konfirmasi password" required>
              </div>
            </div>
            <div class="button">
              <input type="submit" value="Register">
            </div>
          </form>
