<form action="#" class="form">
      <header>A. KETERANGAN SISWA</header>
      <fieldset>
        <div class="input-box">
          <label>1. Nama Lengkap</label>
          <input type="text" placeholder="Masukan nama lengkap" required />
        </div>
        <div class="input-box">
          <label>2. Nama Panggilan</label>
          <input type="text" placeholder="Masukan nama panggilan" required />
        </div>
        <div class="gender-box">
          <h3>3. Jenis Kelamin</h3>
          <div class="gender-option">
            <div class="gender">
              <input type="radio" id="check-male" name="gender" checked />
              <label for="check-male">Laki-laki</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-female" name="gender" />
              <label for="check-female">Perempuan</label>
            </div>
          </div>
        </div>
        <div class="input-box">
          <label>4. Tempat Lahir</label>
          <input type="text" placeholder="Masukan tempat lahir" required />
        </div>
        <div class="input-box">
          <label>5. Tanggal Lahir</label>
          <input type="date" placeholder="Masukan tanggal lahir" required />
        </div>
        <div class="input-box">
          <label>6. Agama</label>
          <input type="text" placeholder="Masukan agama" required />
        </div>
        <div class="gender-box">
          <h3>7. Kewarganegaraan</h3>
          <div class="gender-option">
            <div class="gender">
              <input type="radio" id="check-male" name="gender" checked />
              <label for="check-male">WNI</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-female" name="gender" />
              <label for="check-female">WNI Keturunan</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-female" name="gender" />
              <label for="check-female">WNA</label>
            </div>
          </div>
        </div>
        <div class="input-box">
          <label>8. Anak Ke-</label>
          <input type="text" placeholder="" required />
        </div>
        <div class="input-box">
          <label>9. Banyak Saudara Kandung</label>
          <input type="text" placeholder="" required />
        </div>
        <div class="input-box">
          <label>10. Bahasa Sehari-hari</label>
          <input type="text" placeholder="Bahasa apa yang di gunakan sehari-hari" required />
        </div>
        <div class="input-box">
          <label>11. Berat Badan</label>
          <input type="text" placeholder="Masukan berat badan" required />
        </div>
        <div class="input-box">
          <label>12. Tinggi Badan</label>
          <input type="text" placeholder="Masukan tinggi badan" required />
        </div>
        <div class="gender-box">
          <h3>13. Golongan Darah</h3>
          <div class="gender-option">
            <div class="gender">
              <input type="radio" id="check-male" name="gender" checked />
              <label for="check-male">O</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-female" name="gender" />
              <label for="check-female">A</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-female" name="gender" />
              <label for="check-female">AB</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-female" name="gender" />
              <label for="check-female">B</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-female" name="gender" />
              <label for="check-female">Lainnya/Belum Mengetahui</label>
            </div>
          </div>
        </div>
        <div class="input-box">
          <label>14. Penyakit Yang Pernah Diderita</label>
          <input type="text" placeholder="Masukan penyakit yang pernah diderita peserta didik (Kosongkan jika tidak ada)"
            required />
        </div>
        <div class="input-box">
          <label>15. Alamat Tempat Tinggal</label>
          <input type="text" placeholder="Masukan alamat tempat tinggal" required />
        </div>
        <div class="input-box">
          <label>16. Nomor Telepon/HP</label>
          <input type="text" placeholder="Masukan nomor telephon/hp" required />
        </div>
        <div class="input-box">
          <label>17. Nomor WhatsApp</label>
          <input type="text" placeholder="Masukan nomor whatsapp" required />
        </div>
        <div class="gender-box">
          <h3>18. Bertampat Tinggal Bersala</h3>
          <div class="gender-option">
            <div class="gender">
              <input type="radio" id="check-male" name="gender" checked />
              <label for="check-male">Orang Tua</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-female" name="gender" />
              <label for="check-female">Wali</label>
            </div>
          </div>
        </div>
        <div class="input-box">
          <label>19. Asal TK/PAUD/PG/KB/RT</label>
          <input type="text" placeholder="Masukan asal TK/PAUD/PG/KB/RT" required />
        </div>
      </fieldset> 
      <button>Simpan</button>
    </form>
