<div class="container">
  <form action="action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="fname">Nama Lengkap</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="fullname" placeholder="Masukan nama lengkap..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="nname">Nama Panggilan</label>
      </div>
      <div class="col-75">
        <input type="text" id="nname" name="nickname" placeholder="Masukan nama panggilan..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="gender">Jenis Kelamin</label>
      </div>
      <div class="col-75">
        <input type="radio" id="gender" name="laki-laki" value="laki-laki">
        <label for="gender">Laki-laki</label>
        <input type="radio" id="gender" name="perempuan" value="perempuan">
        <label for="gender">Perempuan</label>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="tempatLahir">Tempat Lahir</label>
      </div>
      <div class="col-75">
        <input type="text" id="tempatLahir" name="tempatLahir" placeholder="Masukan tempat lahir..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="tanggalLahir">Tanggal Lahir</label>
      </div>
      <div class="col-75">
        <input type="date" id="tanggalLahir" name="tanggalLahir" placeholder="Masukan tanggal lahir..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="agama">Agama</label>
      </div>
      <div class="col-75">
        <input type="text" id="agama" name="agama" placeholder="Masukan agama peserta didik..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="kewarganegaraan">Kewarganegaraan</label>
      </div>
      <div class="col-75">
        <select id="kewarganegaraan" name="kewarganegaraan">
          <option value="wni">WNI</option>
          <option value="wni-keturunan">WNI Keturunan</option>
          <option value="wna">WNA</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="anakKe">Anak Ke-</label>
      </div>
      <div class="col-75">
        <input type="text" id="anakKe" name="anak-ke" placeholder="pertama/kedua/ketiga/dst...">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="jumlahSaudara">Banyak Saudara Kandung</label>
      </div>
      <div class="col-75">
        <input type="text" id="jumlahSaudara" name="jumlahSaudara" placeholder="satu(1)/dua(2)/tiga(3)/dst...">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="bahasa">Bahasa Sehari-hari</label>
      </div>
      <div class="col-75">
        <input type="text" id="bahasa" name="bahasa" placeholder="Masukan bahasa yang di pakai sehari-hari...">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="beratBadan">Berat Badan (kg)</label>
      </div>
      <div class="col-75">
        <input type="text" id="beratBadan" name="beratBadan" placeholder="Masukan berat badan..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="tinggiBadan">Tinggi Badan (cm)</label>
      </div>
      <div class="col-75">
        <input type="text" id="tinggiBadan" name="tinggiBadan" placeholder="Masukan tinggi badan..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="golDarah">Golongan Darah</label>
      </div>
      <div class="col-75">
        <select id="golDarah" name="golongandarah">
          <option value="o">O</option>
          <option value="a">A</option>
          <option value="ab">AB</option> 
          <option value="b">B</option>
          <option value="lainnya">Lainnya..</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="penyakit">Penyakit Yang Pernah Diderita</label>
      </div>
      <div class="col-75">
        <input type="text" id="penyakit" name="penyakit" placeholder="Masukan penyakit yang pernah di derita...">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="alamat">Alamat Tempat Tinggal</label>
      </div>
      <div class="col-75">
        <input type="text" id="alamat" name="alamat" placeholder="Masukan alamat..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="notlp">Masukan Nomor Telepon/HP</label>
      </div>
      <div class="col-75">
        <input type="text" id="notlp" name="notelepon" placeholder="Masukan nomor telepon atau hp..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="noWa">Masukan Nomor Whatsapp</label>
      </div>
      <div class="col-75">
        <input type="text" id="noWa" name="nowhatsapp" placeholder="Masukan nomor whatsapp..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="tinggalbersama">Bertempat Tinggal Bersama</label>
      </div>
      <div class="col-75">
        <input type="radio" id="tinggalbersama" name="orangtua" value="orangtua">
        <label for="tinggalbersama">Orangtua</label>
        <input type="radio" id="tinggalbersama" name="wali" value="wali">
        <label for="tinggalbersama">Wali</label>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="asalTk">Asal TK/PAUD/PG/KB/RT</label>
      </div>
      <div class="col-75">
        <select id="asalTk" name="asaltk">
          <option value="tk">TK</option>
          <option value="paud">PAUD</option>
          <option value="pg">PG</option> 
          <option value="kb">KB</option>
          <option value="rt">RT</option>
        </select>
      </div>
    </div><br>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
