<form action="#" class="form"> 
      <fieldset> 
        <div class="input-box">
          <label>Username</label>
          <input type="text" placeholder="Masukan Username" required />
        </div>
        <div class="input-box">
          <label>Name</label>
          <input type="text" placeholder="Masukan nama lengkap" required />
        </div>
        <div class="input-box">
          <label>Email</label>
          <input type="text" placeholder="Masukan Email" required />
        </div>
        <div class="input-box">
          <label>Password</label>
          <input type="text" placeholder="Masukan Password" required />
        </div>
        <div class="input-box">
          <label>Hak Akses</label>
          <input type="text" placeholder="Masukan Hak Akses" required />
        </div>  
      </fieldset> 
      <button>Simpan</button>
    </form>
